{
    "version": "",
    "date": "",
    "product": "thunderbird",
    "preflight": {
        "human_tasks": []
    },
    "inflight": [{
        "buildnum": 1,
        "graphids": [],
        "aborted": false,
        "human_tasks": [
            {
                "alias": "shipit",
                "description": "submit to Shipit",
                "docs": "https://wiki.mozilla.org/Release:Release_Automation_on_Mercurial:Starting_a_Release#Submit_to_Ship_It",
                "resolved": false
            },
            {
                "alias": "mirrors",
                "description": "pushed to mirrors/releases",
                "docs": "https://wiki.mozilla.org/Release:Release_Automation_on_Mercurial:Updates#Push_to_mirrors",
                "resolved": false
            },
            {
                "alias": "publish",
                "description": "publish release tasks",
                "docs": "https://wiki.mozilla.org/Release:Release_Automation_on_Mercurial:Updates_through_Shipping#Publish_in_Balrog",
                "resolved": false
             },
             {
                "alias": "signoff",
                "description": "signoff in Balrog",
                "docs": "https://github.com/mozilla-releng/releasewarrior-2.0/blob/master/docs/release-promotion/desktop/howto.md#obtain-sign-offs-for-changes",
                "resolved": false
             },
             {
                "alias": "postrelease",
                "description": "run postrelease tasks",
                "docs": "https://wiki.mozilla.org/Release:Release_Automation_on_Mercurial:Updates_through_Shipping#Post-release_tasks",
                "resolved": false
             }
        ],
        "issues": [ ]
    }]
}
