{
    "version": "",
    "date": "",
    "product": "thunderbird",
    "preflight": {
        "human_tasks": []
    },
    "inflight": [{
        "buildnum": 1,
        "graphids": [],
        "aborted": false,
        "human_tasks": [
            {
                "alias": "shipit",
                "description": "submit to Shipit",
                "docs": "https://wiki.mozilla.org/Release:Release_Automation_on_Mercurial:Starting_a_Release#Submit_to_Ship_It",
                "resolved": false
            },
            {
                "alias": "mirrors",
                "description": "pushed to mirrors/releases",
                "docs": "https://github.com/mozilla-releng/releasewarrior-2.0/blob/master/docs-thunderbird/release-promotion/desktop/howto.md#push-artifacts-to-releases-directory",
                "resolved": false
             },
            {
                "alias": "ship",
                "description": "schedule the release for shipping",
                "docs": "https://github.com/mozilla-releng/releasewarrior-2.0/blob/master/docs-thunderbird/release-promotion/desktop/howto.md#ship-the-release",
                "resolved": false
             }
        ],
        "issues": [ ]
    }]
}
