{
    "version": "",
    "date": "",
    "product": "firefox",
    "preflight": {
        "human_tasks": []
    },
    "inflight": [{
        "buildnum": 1,
        "aborted": false,
        "graphids": [],
        "human_tasks": [
            {
                "alias": "shipit",
                "description": "submit to Shipit",
                "docs": "https://wiki.mozilla.org/Release:Release_Automation_on_Mercurial:Starting_a_Release#Submit_to_Ship_It",
                "resolved": false
            },
            {
                "alias": "mirrors",
                "description": "pushed to mirrors/releases",
                "docs": "https://github.com/mozilla-releng/releasewarrior-2.0/wiki/Release-Promotion-Tasks#push-artifacts-to-releases-directory",
                "resolved": false
             },
            {
                "alias": "publish",
                "description": "publish release tasks",
                "docs": "https://github.com/mozilla-releng/releasewarrior-2.0/wiki/Release-Promotion-Tasks#ship-the-release",
                "resolved": false
             },
             {
                "alias": "signoff",
                "description": "signoff in Balrog",
                "docs": "https://github.com/mozilla-releng/releasewarrior-2.0/wiki/Release-Promotion-Tasks#obtain-sign-offs-for-changes",
                "resolved": false
             }
        ],
        "issues": [ ]
    }]
}
