# Beta: Firefox {{ version }}

### Date of go-to-build: {{ date }}

## Pre go-to-build tasks
{% for task in pre_gtb["human_tasks"] %}
- [{% if task["resolved"] %}x{% else %} {% endif %}] {{ loop.index }}. due:{{ task["deadline"] }} - [bug {{ task["bug"] }}](http://bugzilla/{{ task["bug"] }}): {{ task["description"] }}
{% endfor %}
{% if not pre_gtb["human_tasks"] %}
- none
{% endif %}

{% for build in builds %}
## Build {{ build['buildnum'] }} {% if build['aborted'] %} :bomb: _aborted release. starting new build num_ :bomb:{% endif %} 


### Beta Graph
{% if build['graphid'] %}
[task group](https://tools.taskcluster.net/push-inspector/#/{{ build['graphid'] }})
{% else %}
task graph url: unknown
{% endif %}


#### Status
{% for task in build["human_tasks"] %}
- [{% if task['resolved'] %}x{% else %} {% endif %}] {{ loop.index }}. [ {{ task["description"] }}]({{ task["docs"] }}])
{% endfor %}

### Issues
| Who                 | ID               | Bug                                                                 | Descripiton                | Blocking Release        | Future Threat                |
| ------------------- | ---------------- | ------------------------------------------------------------------- | -------------------------- | ----------------------- | ---------------------------- |
{% for issue in build['issues'] %}
| {{ issue["who"] }}  | {{ loop.index }} | [bug {{ issue["bug"] }}](http://bugzilla/{{ issue["bug"] }})        | {{ issue["description"] }} | {{ issue["blocking"] }} | {{ issue["future_threat"] }} |
{% endfor %}
{% if not build["issues"] %}
| none | | | | | |
{% endif %}

{% endfor %}
