{
    "version": "",
    "date": "",
    "product": "firefox",
    "preflight": {
        "human_tasks": [
            {
                "bug": "12345",
                "deadline": "2017-10-26",
                "description": "finalize rule for that",
                "resolved": true
            },
            {
                "bug": "234251",
                "deadline": "2017-10-30",
                "description": "do this",
                "resolved": true
            },
            {
                "bug": "28332",
                "deadline": "2017-10-28",
                "description": "test this",
                "resolved": false
            }
        ]
    },
    "inflight": [{
        "buildnum": 1,
        "aborted": true,
        "graphids": [],
        "human_tasks": [
            {
                "alias": "shipit",
                "description": "submit to Shipit",
                "docs": "https://wiki.mozilla.org/Release:Release_Automation_on_Mercurial:Starting_a_Release#Submit_to_Ship_It",
                "resolved": false
            },
            {
                "alias": "publish",
                "description": "publish release tasks",
                "docs": "/how-tos/relpro.md#4-publish-release",
                "resolved": false
             },
             {
                "alias": "signoff",
                "description": "signoff in Balrog",
                "docs": "/how-tos/relpro.md#3-signoffs",
                "resolved": false
             }
        ],
        "issues": [
            {
                "who": "jlund",
                "bug": "54321",
                "description": "foo",
                "resolved": true,
                "future_threat": false
            },
            {
                "who": "jlorenzo",
                "bug": "9999",
                "description": "bar",
                "resolved": false,
                "future_threat": false
            },
            {
                "who": "jlorenzo",
                "bug": "9999",
                "description": "bar",
                "resolved": false,
                "future_threat": true
            },
            {
                "who": "callek",
                "bug": "7777",
                "description": "bam",
                "resolved": true,
                "future_threat": false
            },
            {
                "who": "jlund",
                "bug": "39492",
                "description": "zap",
                "resolved": true,
                "future_threat": false
            }
        ]
    },
    {
        "buildnum": 2,
        "aborted": false,
        "graphids": [],
        "human_tasks": [
            {
                "alias": "shipit",
                "description": "submit to Shipit",
                "docs": "https://wiki.mozilla.org/Release:Release_Automation_on_Mercurial:Starting_a_Release#Submit_to_Ship_It",
                "resolved": false
            },
            {
                "alias": "publish",
                "description": "publish release tasks",
                "docs": "/how-tos/relpro.md#4-publish-release",
                "resolved": false
             },
             {
                "alias": "signoff",
                "description": "signoff in Balrog",
                "docs": "/how-tos/relpro.md#3-signoffs",
                "resolved": false
             }
        ],
        "issues": []
    }]
}
