{
    "version": "",
    "date": "",
    "product": "fennec",
    "preflight": {
        "human_tasks": []
    },
    "inflight": [{
        "buildnum": 1,
        "aborted": false,
        "graphids": [],
        "human_tasks": [
            {
                "alias": "shipit",
                "description": "submit to Shipit",
                "docs": "https://wiki.mozilla.org/Release:Release_Automation_on_Mercurial:Starting_a_Release#Submit_to_Ship_It",
                "resolved": false
            },
            {
                "alias": "pushapk",
                "description": "run pushapk",
                "docs": "https://github.com/mozilla-releng/releasewarrior-2.0/wiki/Push-to-Google-Play#what-to-do",
                "resolved": false
             }
        ],
        "issues": [ ]
    }]
}
