# {{ product }} {{ version }}

### Date of go-to-build: {{ date }}

## Preflight tasks (pre go-to-build)
{% for task in preflight["human_tasks"] %}
- [{% if task["resolved"] %}x{% else %} {% endif %}] {{ loop.index }}. due:{{ task["deadline"] }} - [bug {{ task["bug"] }}](https://bugzil.la/{{ task["bug"] }}): {{ task["description"] }}
{% endfor %}
{% if not preflight["human_tasks"] %}
- none
{% endif %}

{% for build in inflight %}
## Build {{ build['buildnum'] }} {% if build['aborted'] %} :bomb: _aborted release. starting new build num_ :bomb:{% endif %} 

### Graphs
{% for graph_info in build['graphids'] %}
* [{{graph_info[0]}}](https://tools.taskcluster.net/push-inspector/#/{{ graph_info[1] }}) {{graph_info[1]}}
{% endfor %}
```
{% for graph_info in build['graphids'] %}
export {{graph_info[0]|upper}}_TASK_ID={{ graph_info[1] }}
{% endfor %}
```
{% if not build["graphids"] %}
task graph url: unknown
{% endif %}


#### Status
{% for task in build["human_tasks"] %}
- [{% if task['resolved'] %}x{% else %} {% endif %}] {{ loop.index }}. {% if task["docs"] %} [how-to]({{ task["docs"] }}) {% endif %} - {{ task["description"] }}
{% endfor %}

### Issues
| Who                 | ID               | Bug                                                                 | Description                | Resolved                | Future Threat                |
| ------------------- | ---------------- | ------------------------------------------------------------------- | -------------------------- | ----------------------- | ---------------------------- |
{% for issue in build['issues'] %}
| {{ issue["who"] }}  | {{ loop.index }} | [bug {{ issue["bug"] }}](https://bugzil.la/{{ issue["bug"] }})        | {{ issue["description"] }} | {{ issue["resolved"] }} | {{ issue["future_threat"] }} |
{% endfor %}
{% if not build["issues"] %}
| none | | | | | |
{% endif %}

{% endfor %}
