# Postmortem {{ date }}

## Previous Action Items

* Review in [Trello](https://trello.com/b/aLnCtUjm/releaseduty)

## New Action Items (Future Threats)

| Bug                                                           | Description                | Reported By         | For release |
| ------------------------------------------------------------- | -------------------------- | ------------------- | ----------- |
{% for release in complete_releases -%}
{%- for issue in release['future_threats'] %}
| [bug {{ issue["bug"] }}](https://bugzil.la/{{ issue["bug"] }})  | {{ issue["description"] }} | {{ issue["who"] }}  | {{ release["product"].capitalize() }} {{ release["version"] }} |
{% endfor -%}
{%- endfor %}
| <> | Possibly some others in [Trello](https://trello.com/b/aLnCtUjm/releaseduty) | | | | |

## Releases which had issues

{% for release in complete_releases -%}
{% if release['resolved'] -%}

### Release: {{ release["product"].capitalize() }} {{ release["version"] }} {{ release["date"] }}

#### Resolved issues
{% for issue in release['resolved'] %}
- {{ issue["who"] }} - [bug {{ issue["bug"] }}](https://bugzil.la/{{ issue["bug"] }}) - {{ issue["description"] }}
{% endfor -%}
{% endif -%}
{% endfor %}

## Releases without issue

{% for release in complete_releases -%}
{% if not release['resolved'] %}
* {{ release["product"].capitalize() }} {{ release["version"] }} - ''{{ release["date"] }}
{% endif -%}
{% endfor %}

## CHANGELOG
- Did anything change recently that is worth adding in the [changelog](https://github.com/mozilla-releng/releasewarrior-2.0/blob/master/docs/CHANGELOG.md)?

## Roundtable
- All topics in [our Trello board](https://trello.com/b/aLnCtUjm/releaseduty).
