

Releasewarrior 2.0 Data
=======================

Please modify this data with [Releasewarrior](https://github.com/mozilla-releng/releasewarrior-2.0)

{% for status in md_files %}
**{{ status|title }}**

{% for product in md_files[status] %}
* [{{ product|title }}]({{ md_files[status][product] }})

{% endfor %}
{% endfor %}
